body {
  margin: 0;
  padding : 0;
}

header {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
  }

  header img {
    padding: 2vh 40px;
  }
